<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.choicyprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.choicyprefs</string>
				<key>key</key>
				<string>tweakInjectionDisabled</string>
				<key>label</key>
				<string>DISABLE_TWEAK_INJECTION</string>
            </dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.choicyprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.choicyprefs</string>
				<key>key</key>
				<string>customTweakConfigurationEnabled</string>
				<key>label</key>
				<string>CUSTOM_TWEAK_CONFIGURATION</string>
			</dict>
		</array>
	</dict>
</plist>