<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GLOBAL_CONFIGURATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>GLOBAL_TWEAK_CONFIGURATION</string>
			<key>detail</key>
			<string>CHPGlobalTweakConfigurationController</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PROCESS_CONFIGURATION</string>
			<key>footerText</key>
			<string>PROCESS_CONFIGURATION_FOOTER</string>
		</dict>
		<dict>
			<key>key</key>
			<string>com.apple.springboard</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>CHPApplicationDaemonConfigurationListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>SpringBoard</string>
			<key>isApplication</key>
			<true/>
			<key>isSpringboard</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>CHPApplicationPreferenceViewController</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>APPLICATIONS</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALSettingsKeyPrefix</key>
			<string></string>
			<key>ALSettingsDefaultValue</key>
			<string></string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.opa334.choicyprefs</string>
			<key>ALSingleEnabledMode</key>
			<false/>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALDisclosureIndicatedCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>(isSystemApplication = TRUE AND isWebApplication = FALSE)</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>SYSTEM_APPLICATIONS</string>
					<key>display-identifier-macro</key>
					<string>DISPLAY_IDENTIFIER</string>
					<key>action</key>
					<string>showPreferences</string>
					<key>entry</key>
					<dict>
						<key>key</key>
						<string>DISPLAY_IDENTIFIER</string>
						<key>cell</key>
						<string>PSLinkCell</string>
						<key>detail</key>
						<string>CHPApplicationDaemonConfigurationListController</string>
						<key>isController</key>
						<true/>
						<key>overridePrincipalClass</key>
						<true/>
						<key>bundle</key>
						<string>AppList</string>
						<key>isApplication</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALDisclosureIndicatedCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>(isSystemApplication = FALSE AND isWebApplication = FALSE)</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>USER_APPLICATIONS</string>
					<key>display-identifier-macro</key>
					<string>DISPLAY_IDENTIFIER</string>
					<key>action</key>
					<string>showPreferences</string>
					<key>bundle</key>
					<string>ChoicyPrefs</string>
					<key>entry</key>
					<dict>
						<key>key</key>
						<string>DISPLAY_IDENTIFIER</string>
						<key>cell</key>
						<string>PSLinkCell</string>
						<key>detail</key>
						<string>CHPApplicationDaemonConfigurationListController</string>
						<key>isController</key>
						<true/>
						<key>overridePrincipalClass</key>
						<true/>
						<key>bundle</key>
						<string>AppList</string>
						<key>isApplication</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALDisclosureIndicatedCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>(info.choicy_hasHiddenTag = TRUE OR isWebApplication = TRUE)</string>
					<key>suppress-hidden-apps</key>
					<false/>
					<key>title</key>
					<string>HIDDEN_APPLICATIONS</string>
					<key>display-identifier-macro</key>
					<string>DISPLAY_IDENTIFIER</string>
					<key>action</key>
					<string>showPreferences</string>
					<key>bundle</key>
					<string>ChoicyPrefs</string>
					<key>entry</key>
					<dict>
						<key>key</key>
						<string>DISPLAY_IDENTIFIER</string>
						<key>cell</key>
						<string>PSLinkCell</string>
						<key>detail</key>
						<string>CHPApplicationDaemonConfigurationListController</string>
						<key>isController</key>
						<true/>
						<key>overridePrincipalClass</key>
						<true/>
						<key>bundle</key>
						<string>AppList</string>
						<key>isApplication</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>DAEMONS</string>
			<key>detail</key>
			<string>CHPDaemonListController</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APP_OPTIONS</string>
			<key>footerText</key>
			<string>APP_OPTIONS_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.opa334.choicyprefs/ReloadPrefs</string>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>launchWithoutTweaksOptionEnabled</string>
			<key>label</key>
			<string>LAUNCH_WITHOUT_TWEAKS_OPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.opa334.choicyprefs/ReloadPrefs</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>launchWithTweaksOptionEnabled</string>
			<key>label</key>
			<string>LAUNCH_WITH_TWEAKS_OPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>OTHER</string>
		</dict>
		<dict>
			<key>action</key>
			<string>sourceLink</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>GitHub</string>
			<key>label</key>
			<string>SOURCE_CODE</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openTwitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>Twitter</string>
			<key>label</key>
			<string>FOLLOW_ME_ON_TWITTER</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donationLink</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>Donate</string>
			<key>label</key>
			<string>DONATE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>icon</key>
			<string>Credits</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>detail</key>
			<string>CHPCreditsListController</string>
			<key>label</key>
			<string>CREDITS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2019-2020 Lars Fröder (opa334)</string>
		</dict>
	</array>
	<key>title</key>
	<string>Choicy</string>
</dict>
</plist>
